
body{
    background-color: #e5ffff;
}

#survey-content {
    min-height: 100vh;
    padding: 40px 20px;
}

#content-box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    padding: 30px;
    margin: 0 auto;
    position: relative;
    max-width: 50%;
}

#name, #age, #travel_type {
    width: 220px;
}

#dream_destination_section {
    display: none;
}

.chart-container {
    width: 500px;
    height: 400px;
    margin: 20px auto;
}

#textResponses {
    margin: 20px 0;
}
