<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Leisure and Travel Survey{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    {% block extra_head %}{% endblock %}
</head>
<body class="survey-page">
    <div id="survey-content">
        <div id="content-box">
            <h1>{% block header %}Leisure and Travel Survey{% endblock %}</h1>
            <hr>
            
            {% block content %}{% endblock %}
        </div>
    </div>
    
    {% block scripts %}{% endblock %}
</body>
</html>
